<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--namespace 这里不是实体类名称，而是映射接口的全路径！！！-->
<mapper namespace="com.yovnne.dao.IAccountDao">
    <resultMap id="BaseResultMap" type="com.yovnne.model.Account">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">id,account,password</sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from yovnne_account
        where id=#{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yovnne_account
    where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.yovnne.model.Account">
    insert into yovnne_account (id, account, password)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="com.yovnne.model.Account">
        insert into yovnne_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="account != null">account,</if>
            <if test="password != null">password,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.yovnne.model.Account">
        update yovnne_account
        <set>
            <if test="account != null">
                account = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.yovnne.model.Account">
    update yovnne_account
    set account = #{account,jdbcType=VARCHAR},password = #{password,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
    </update>


</mapper>